alias html='cd /var/www/html'
alias www='cd /var/www/'
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'

### PROGRAMS
alias explore='explorer.exe .'

### Edit shortcuts
alias wslIgnite='code ~/wslIgnite'
alias e-wslInstall='code ~/wslIgnite/wsl-install.md'
alias e-alias='code ~/wslIgnite/.bash_aliases'
alias e-wslConf='code ~/wslIgnite/wslIgnite.conf'
alias e-winHosts='/mnt/c/Program\ Files/Microsoft\ VS\ Code/bin/code /mnt/c/Windows/System32/drivers/etc/hosts'

### GENERAL
alias setSource='source $HOME/.bashrc'
alias apti='apt install -y'

### GIT
alias gs='git status'
alias gc='git commit -m'
alias gla='git log --all --graph'
alias gl='git log --graph'

### LARVEL
alias pa='php artisan'
alias pf='clear && ./vendor/bin/phpunit --filter'
alias punit='clear && ./vendor/bin/phpunit'
alias pest='clear && ./vendor/bin/pest'

### SSH
alias ssh[XYZ]='ssh [SSH-USER]@[SERVER_DOMAIN]'

### PS1 promt
PS1='${debian_chroot:+($debian_chroot)}\$\[\033[01;32m\]</\u>@\[\033[01;34m\]\w \[\033[00m\]=> '