# The full path to your choosed wslIgnite repository
WSL_IGNITE_REPO=$HOME/wslIgnite

# The user used to apply the correct access rights for created objects
WSL_IGNITE_USER=

# The full path from where the executables should be linked (whithout trailing slash)
WSL_IGNITE_EXEC_PATH=/usr/local/bin

# The full path from where the wsl.conf should be linked (without trailing slash)
WSL_IGNITE_WSLCONF_PATH=/etc